s<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-Type" charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LMS Activation Email</title>
    <style type="text/css">
      /* base design */
      body {
        margin: 0;
        padding: 0;
        min-width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height: 1.5;
        background-color: #ffffff;
        color: #000;
      }

      a {
        color: #000;
        text-decoration: none;
      }

      h1 {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.5;
        margin-top: 0;
        margin-bottom: 15px;
        text-align: center;
      }
      p {
        margin-top: 0;
        margin-bottom: 24px;
      }

      table td {
        vertical-align: top;
      }
      /* Layout */
      .email-wrapper {
        max-width: 600px;
        margin: 0 auto;
      }
      .email-header {
        background-color: #0c335f;
        padding: 24px;
        color: #ffffff;
      }
      .email-body {
        padding: 24px;
        background-color: #ffffff;
      }
      .email-footer {
        background-color: #fff;
        padding: 24px;
      }
      /* button */
      .button {
        display: inline-block;
        background-color: #0c335f;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        padding: 12px 24px;
        border-radius: 4px;
      }
    </style>
  </head>
  <body>
    <div class="email-wrapper">
      <div class="email-header">
        <h1>Welcome</h1>
      </div>
      <div class="email-body">
        <p>Hell <%= user.name %>,</p>
        <p>To activate your account , please use the activation code:</p>
        <h2><%= activationCode %></h2>
        <p>
          Please enter this code on the activation page within the next 5
          minutes
        </p>
        <p>Please if it is not you , you can ignore this message</p>
      </div>
      <div class="email-footer">
        <p>
          if you have any questions,please contact us
          <a href="mailto:manafadam@gmail.com">Serve Center</a>
        </p>
      </div>
    </div>
  </body>
</html>
